*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

  /* Container is always visible */
.container {
  opacity: 1;
  display: block;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #145da0;
  position: fixed;
  top: 2px;
  left: 4px;
  z-index: 100;
  height: 40px;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
}

.instruction-text {
  /* font-size: 12px; */
  /* font-weight: bold; */
  color: #fff;
  display: flex;
}
#ins{
  font-size:24px;
}
#text{
  font-size:24px;
}

.language-select select {
  font-size: 15px;
  position: absolute;
  top: 2px;
  right: 7px;
  z-index: 999;
  padding: 8px 12px;
  border: 2px solid #007bff;
  border-radius: 20px;
  background-color: #ffffff;
  font-weight: bold;
  color: #007bff;
  cursor: pointer;
  outline: none;
  transition: 0.3s ease;
}

.bg-img{
  background-image: url(background_img.png);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  position: absolute;
  left:0;
  top: 23px;
  padding: 5px;
  z-index: 1;
  border-radius: 21px;
  margin: 9px;
  will-change: transform;
  transform: translateZ(0);
}

.navigation-buttons {
  position: fixed;
  bottom: 55px;
  right: 20px;
  display: flex;
  gap: 7px;
  z-index: 10;

}

.navigation-buttons button {
  padding: 6px 5px;
  font-size: 20px;
  font-weight: bold;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
 

.navigation-buttons button:hover {
  background-color: #388E3C;
  transform: scale(1.05);
}

#startBtn{
  visibility: visible;
}

#nextBtn{
  visibility: hidden;
}

#stp1{
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: all;
  transition-duration: 1s;
  animation: shaking;
  animation-iteration-count: infinite;
  animation-duration: 0s;
  animation-timing-function:linear;
}

#machine{
  position: absolute;
  left: 15%;
  top: 66%;
  width: 20%;
  height: 30%;
  /* z-index: 1000; */
  transition: all;
  transition-duration: 1s;   
}

#on{
  position: absolute;
  top: 86.5%;
  left: 16.5%;
  color: white;
  padding: 0.1%;
  background-color: red;
  border-radius: 10%;
  font-size: 0.8vw;
  transition: all;
  transition-duration: 0.1s;
}

#on:active{
  scale: 0.9;
}

#tare{
  position: absolute;
  top: 87%;
  left: 28.5%;
  color: rgb(0, 0, 0);
  padding: 0.1%;
  background-color: rgb(238, 245, 42);
  border-radius: 10%;
  font-size: 0.8vw;
  transition: all;
  transition-duration: 0.1s;
}

#tare:active{
  scale: 0.9;
}

#reading{
  position: absolute;
  height: 4.5%;
  width: 7%;
  top: 86.5%;
  right: 73%;
  font-family: digital;
  text-align: center;
  font-weight: 300;
  color: rgb(138, 234, 3);
  font-size: 2vw;
  transition: all;
  transition-duration: 1s;
  opacity: 0%;
}

#box{
  height: 62%;
  width: 25%;
  position: absolute;
  left: 50%;
  top: 43%;
}

#boxcap{
  position: absolute;
  height: 6%;
  width: 6.7%;
  top: 62.2%;
  left: 56.6%;
  transition-duration: 1s;
  transition: all 
}

#spatula{
  position: absolute;
  top: 83%;
  left: 40%;
  height: 12%;
  width: 9%;
  transform: rotate(30deg);
  transition: all;
  transition-duration: 1s;
}

#petri{
  position: absolute;
  top: 69%;
  left: 35%;
  width: 17%;
  height: 28%;
  transition: all;
  transition-duration: 1s;
}

#volumetricflasks{
  position: absolute;
  left: 68%;
  top: 62%;
  width: 11%;
  height: 30%;
  z-index:100 ;
}

.powder{
  position: absolute;
  height: 1.8%;
  top: 69%;
  left: 57.5%;
  opacity: 0;
  transition: all;
  transition-duration: 1s;   
}
#fallpowder{
  position: absolute;
  opacity: 0;
  transition: all;
  transition-duration: 1s;
  left: 68.9%;
  bottom: 23%; 
  height: 30%;
  width: 5%;
}

#distilled_water1{
  position: absolute;
  left: 73%;
  top: 35%;
  width: 23%;
  height: 65%;
  transition: all;
  transition-duration: 1s
}

#waterfall1{
  position: absolute;
  opacity: 0;
  transition: all;
  transition-duration: 1s;
  left: 71.9%;
  bottom: 13.2%; 
  height: 30%;
  width: 1%;
}

#standardAcid1{
  position: absolute;
  left: 64%;
  top: 54%;
  width: 19%;
  height: 46%;
  z-index:100 ;
  opacity: 0;
}
/* ...................................... name section...........................................  */
.namestep{
    position: absolute;
    opacity: 0;
    width: 20%;
    height: 50%;
    transition: all;
    transition-duration: 1s;  
  }
#machineName{
  left: 1%;
  top: 66%
}
#petriName{
  left: 35%;
  top: 61%;
}
#spatulaName{
  left: 33%;
  top: 77%;
}
#salicylicacidName{
  left: 51%;
  top: 43%;
}
#volumetricflaskName{
  left: 63.5%;
  top: 37.5%;
}
#DistilledwaterName1{
  left: 84%;
  top: 75%;
}
#hclName{
  left: 13%;
  top: 65%;
}
#measuringcylinderName{
  left: 36.5%;
  top: 62%;
}
#conicalFlaskName{
  left: 52.5%;
  top: 59%; 
}
#DistilledwaterName2{
  left: 69%;
  top: 73%;
}
#DistilledwaterName3{
  left: 5%;
  top: 50%;
}
#measuringcylinderName3{
  left: 34.8%;
  top: 45%;
}
#testtubeName{
  left: 56%;
  top: 45%;
}
#standartSol3{
  height: 23%;
  width: 6%;
  left: 46%;
  top: 35%;
}
#pipette3{
  height: 13%;
  width: 5%;
  left: 60%;
  top: 67%;
}
/* ------------------------------------------ STEP 2 --------------------------------------------------------------- */
#hclmaincontainer{
  position: absolute;
  left: 27%;
  bottom: 10%;
  width: 10%;
  height: 35%;
  transition: all;
  transition-duration: 1s;
  z-index:100;
}

#hclContainer{
  position: absolute;
  left: 3%;
  bottom: 10%;
  width: 75%;
  height: 85%;
  z-index: 10;
  transition: all;
  transition-duration: 1s;
}

#hclsolution{
  position: absolute;
  left: 3%;
  bottom: 10%;
  width: 75%;
  height: 55%;
  z-index: 0;
  transition: all;
  transition-duration: 1s;
}

#hclCap{
  position: absolute;
  left: 29.8%;
  top: 56%;
  width: 2.6%;
  height: 3%;
  z-index: 1000;
  transition: all;
  transition-duration: 1s;
}

#cylinder2{
  position: absolute;
  left: 30%;
  bottom: 12%;
  width: 30%;
  height: 60%;
  z-index:100;
}

#maincylinder{
  position: absolute;
  left: 45%;
  bottom: 10%;
  width: 10%;
  height: 35%;
  transition: all;
  transition-duration: 1s;
  z-index:100;
}

#incylinder{
  position: absolute;
  left: 37%;
  bottom: 15%;
  width: 15.5%;
  height: 4%;
  opacity: 0;
  transition: all;
  transition-duration: 1s;
}

#conicalFlask{
  position: absolute;
  left: 63%;
  bottom: 12%;
  width: 8%;
  height: 28%;
  z-index:100;
}

#colourlesssolution1{
  position: absolute;
  left: 64.5%;
  bottom: 12.5%;
  width: 5.5%;
  height: 1.5%;
  opacity: 0;
  transition: all;
  transition-duration: 1s;
}

#colourlesssolution2{
  position: absolute;
  left: 63.05%;
  bottom: 12%;
  width: 7.9%;
  height: 16.1%;
  opacity: 0;
  transition: all;
  transition-duration: 1s;
}

#solfal1{
  position: absolute;
  left: 49%;
  top: 45%;
  width: 0.5%;
  height: 28%;
  opacity: 0;
  transition: all;
  transition-duration: 1s;
}

#solfal2{
  position: absolute;
  left: 65.8%;
  top: 44.5%;
  width: 0.5%;
  height: 43%;
  opacity: 0;
  transition: all;
  transition-duration: 1s;
}

#distilled_water2{
  position: absolute;
  left: 73%;
  top: 35%;
  width: 23%;
  height: 65%;
  transition: all;
  transition-duration: 1s;
}

#waterfall2{
  position: absolute;
  opacity: 0;
  transition: all;
  transition-duration: 1s;
  left: 66%;
  bottom: 13.2%;
  width: 1%;
  height: 28.5%;
}
/* ------------------------------------------ STEP 3 --------------------------------------------------------------- */

#distilled_water3{
  position: absolute;
  left: 10%;
  top: 35%;
  width: 23%;
  height: 65%;
  transition: all;
  transition-duration: 1s;
  z-index: 10000;
}

#waterfall3{
  position: absolute;
  left: 36%;
  bottom: 15%;
  width: 1%;
  height: 25%;
  transition: all;
  transition-duration: 1s;
  opacity: 0;
}

#mainwtrcylinder{
  position: absolute;
  transition: all;
  transition-duration: 1s;
  left: 32%;
  bottom: 12%;
  width: 8%;
  height: 35%;
}

#wtrincylinder{
  position: absolute;
  left: 21.5%;
  bottom: 4%;
  width: 68.5%;
  height: 62.6%;
  transition: all;
  transition-duration: 1s;
  opacity: 0;
}

#cylinder3{
  position: absolute;
  left: 35%;
  bottom: 2%;
  width: 40%;
  height: 70%;
  z-index:100;
}

.fallwater3{
  transition: all;
  transition-duration: 1s;
  opacity: 0;
  position: absolute;
  bottom: 10%;
  width: 1%;
  height: 41%;
}
#wtrfalltube1{
  left: 69.8%;
}
#wtrfalltube2{
  left: 73.5%;
}
#wtrfalltube3{
  left: 77%;
}
#wtrfalltube4{
  left: 80.5%;
}
#wtrfalltube5{
  left: 84%;
}

#rack1{
 position: absolute;
  left: 66%;
  top: 38%;
  width: 27%;
  height: 70%;
 transition: all;
 transition-duration: 1s;
}
#rack2{
  position: absolute;
  left: 65.8%;
  top: 36.9%;
  width: 27%;
  height: 70%;
  transition: all;
  transition-duration: 1s; 
  z-index: 1000;
}

.testtubes{
  position: absolute;
  transition: all;
  transition-duration: 1s; 
  width: 23%;
  height: 70%;
  top: 38.4%;
  opacity: 10000;
}
#tube1{
  left: 67.9%;
  top: 54%;
  height:38%;
  width: 5.9%;
  
}
#tube2{
  left: 63.1%;
}
#tube3{
  left: 66.8%;
}
#tube4{
  left: 70.3%;
}
#tube5{
  left: 73.9%; 
}

#pipette{
  position: absolute;
  transition: all;
  transition-duration: 1s; 
  rotate: 60deg;
  width: 7%;
  height: 35%;
  left: 57%;
  bottom: 0.5%;
}

.pipsolution{
  position: absolute;
  transition: all;
  transition-duration: 1s;
  opacity: 0;
  width: 2.3%;
  height: 12%;
}
#pipsol1{
  left: 47.2%;
  bottom: 18%;
}
#pipsol2{
  left: 47.3%;
  bottom: 19.5%;
}
#pipsol3{
  left: 47.3%;
  bottom: 20%;
}
#pipsol4{
  left: 47.35%;
  bottom: 20.5%;
}
#pipsol5{
  left: 47.35%;
  bottom: 18%; 
}

#standardAcid3{
  position: absolute;
  left: 40.5%;
  width: 16%;
  height: 46%;
  bottom: 10%;
  z-index: 10;
}

#solution3{
  transition: all;
  transition-duration: 1s;
  position: absolute;
  left: 40.5%;
  width: 16%;
  height: 18%;
  bottom:9.5%
}

.tubesolfal{
  opacity: 0;
  transition: all;
  transition-duration: 1s;
  position: absolute;
  bottom: 11%;
  width: 0.1%;
  height: 11%;
}
#solfall1{
  left: 70.6%; 
}
#solfall2{
  left: 74.3%;
}
#solfall3{
  left: 77.9%;
}
 #solfall4{
  left: 81.5%;
}
#solfall5{
  left: 85%; 
}

.tubesolution{
  position: absolute;
  transition: all;
  transition-duration: 1s; 
  opacity: 0;
}
#tubesol1{
  left: 69.2%;
  bottom: 9.2%;
  width: 3%;
  height: 3%;
}
#tubesol2{
  left: 72.5%;
  bottom: 9.2%;
  width: 3.5%;
  height: 3.7%;
}
#tubesol3{
  left: 76%;
  bottom: 9%;
  width: 4%;
  height: 5%;
}
#tubesol4{
  left: 79.5%;
  bottom: 9%;
  width: 4%;
  height: 6%;
}
#tubesol5{
  left: 83.1%;
  bottom: 8.5%;
  width: 4%;
  height: 7.8%;
}

.solTube{
  position: absolute;
  transition: all;
  transition-duration: 1s; 
  opacity: 0;
  bottom: 7.7%;
  width: 5.9%;
  height: 33%;
}
#soltube1{
  left: 67.7%;
}
#soltube2{
  left: 71.3%;
}
#soltube3{
  left: 75%;
}
#soltube4{
  left: 78.5%;
}
#soltube5{
  left: 82.1%;
}
/* ------------------------------------------ STEP 5 --------------------------------------------------------------- */
#table{
  position: absolute;
  transition: all;
  transition-duration: 1s; 
  opacity: 0;
  left: 20%;
  bottom: 30%;
  width: 30%;
  height: 33%;
}
#graph{
  position: absolute;
  transition: all;
  transition-duration: 1s; 
  opacity: 0;
  left: 55%;
  bottom: 1%;
  width: 40%;
  height: 90%;
}
/* ------------------------------------------ STEP 4 --------------------------------------------------------------- */

/* 
#colmeter{
  position: absolute;
  left: 19%;
  top: 62%;
  width: 23%;
  height: 45%;
  
  transition: all;
  transition-duration: 1s;   
}
#col_display{
  position: absolute;
  left: 22.6%;
  top: 72.5%;
  width: 9.6%;
  height: 13%;
 
  transition: all;
  transition-duration: 1s;
}
#col_Button{
  position: absolute;
  left: 32.5%;
  top: 76.5%;
  width: 7%;
  height: 15%;
 
  transition: all;
  transition-duration: 1s;
}
.colori_light{
  position: absolute;
  left: 34.1%;
  top: 77.25%;
  width: 0.8%;
  height: 1%;
  border-radius: 50%;
  z-index: 1000;
  transition: all;
  transition-duration: 1s;
}
#red_btn{
  opacity: 100;
  background-color: red;
}
#orange_btn{
  opacity: 100;
  background-color: darkorange;
}
#stp4_rack1{
  position: absolute;
  left: 70%;
  top: 38%;
  width: 20%;
  height: 72%;
  transition: all;
  transition-duration: 1s;
  
}
#stp4_rack2{
  position: absolute;
  left: 69.9%;
  top: 36.9%;
  width: 20%;
  height: 72%;
  transition: all;
  transition-duration: 1s; 
  z-index: 1000;
}
#stp4_tubeclick_1{
  position: absolute;
  transition: all;
  transition-duration: 1s;
  left: 71.8%;
  bottom: 8%;
  width: 3%;
  height: 30%;
  
}
.stp4_testtubes{
  position: absolute;
  transition: all;
  transition-duration: 1s; 
  width:145%;
  height: 100%;
  top: 100;
  opacity: 10000;
  z-index: 100;
  
}
#stp4_tube1{
  left: -12%;
  bottom: 1%;
}
#stp4_tube2{
  left: 67.9%;
}
#stp4_tube3{
  left: 70.5%;
}
#stp4_tube4{
  left: 73.2%;
}
#stp4_tube5{
  left: 75.8%; 
}
.stp4_solTube{
  position: absolute;
  transition: all;
  transition-duration: 1s; 
  opacity:100;
  bottom: 0.1%;
  width: 143%;
  height: 88%;
}
#stp4_soltube1{
  left: -15%;
}
#stp4_soltube2{
  left: 73.95%;
}
#stp4_soltube3{
  left: 76.5%
}
#stp4_soltube4{
  left: 79.25%;
}
#stp4_soltube5{
  left: 81.8%;
}
#stp4_conicalFlask{
  position: absolute;
  left: 60%;
  bottom: 12%;
  width: 8%;
  height: 28%;
  z-index:100;
}

#stp4_colourlesssolution1{
  position: absolute;
  left: 60.05%;
  bottom: 12%;
  width: 7.9%;
  height: 16.1%;
  opacity: 100;
  transition: all;
  transition-duration: 1s;
}
#stp4_pipette{
  position: absolute;
  transition: all;
  transition-duration: 1s; 
  rotate: 90deg;
  width: 7%;
  height: 35%;
  left: 50%;
  top: 72%;
}
#stp4_pipsol1{
  position: absolute;
  transition: all;
  transition-duration: 1s;
  opacity: 0;
  width: 2.3%;
  height: 12%;
  left: 62.5%;
  bottom: 21%;
}
#stp4_cuvette1{
  position: absolute;
  transition: all;
  transition-duration: 1s; 
  width: 16%;
  height: 15%;
  top: 60%;
  opacity: 10000;
  z-index: 100;
  left: 45%;
}
#stp4_cuvette2{
  position: absolute;
  transition: all;
  transition-duration: 1s; 
  width: 16%;
  height: 25%;
  top: 75%;
  opacity: 10000;
  z-index: 100;
  left: 45%;
}
#stp4_solfal{
  position: absolute;
  left: 50.8%;
  bottom: 18%; */
  /* top: 60%; */
  /* width: 0.5%;
  height: 28%;
  opacity: 0;
  transition: all;
  transition-duration: 1s;
}
#cuve_sol{
  position: absolute;
  transition: all;
  transition-duration: 1s; 
  opacity: 0;
  left: 49.83%;
  bottom:12.6%;
  width: 3.4%;
  height: 16%;
}
.stp4_conc{
  opacity: 0;
  transition: all;
  transition-duration: 1s;
  position: absolute;
}
#stp4_conc1{
  bottom: 13.5%;
  width: 4.3%;
  height: 14%;
  left: 49.8%;
}
#stp4_conc2{
  bottom: 12.5%;
  width: 4.3%;
  height: 16%;
  left: 49.38%;
}
#stp4_conc3{
  bottom: 12.8%;
  width: 4.3%;
  height: 15.5%;
  left: 49.35%;
}
#stp4_conc4{
  bottom: 12.5%;
  width: 4.5%;
  height: 15.5%;
  left: 49.4%;
}
#stp4_conc5{
  bottom: 12.8%;
  width: 5.1%;
  height: 15.5%;
  left: 49.3%;
} */